body {
  background: #181e44;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  color: #fefeff;
  font-size: 22px;
  line-height: 1.4em;
}

a {
  color: #7998F2;
}

strong{
    color: #F85E9F;
}

.title, .screenshot {
  width: 100%;
  margin-top: 50px;
}

.explanation {
  display: block;
  margin-top: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.title img, .screenshot img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: block;
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
  border-top: 2px #332273 solid;
}

table {
  margin-top: 50px;
  border-spacing: 2rem;
}

