/**
 * Checkout this CSS File.
 */

body{
	font-family: arial;
}

.theme {
	display: table;
	width: 100%;
	color: #b362ff;
}

a {
	text-decoration: none;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}

.css-class {
	display: grid;
	width: 100%;
	color: #bada55;
}

#css-id {
	display: inline;
	padding: 5rem;
	background: goldenrod;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
}
nav a {
	display: block;
	padding: 6px 12px;
	text-decoration: none;
}

